<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Working hours</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/ng-table.min.css" rel="stylesheet">
    <link href="static/custom.css" rel="stylesheet">
  </head>
  <body>

    <div class="container-fluid">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">Report</a>
          </div>
          <!--
          <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default">Sign In</button>
            </form>
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <input type="number" class="form-control input-sm" id="yearInput" placeholder="Year">
              </div>
              <div class="form-group">
                <input type="number" class="form-control input-sm" id="monthInput" placeholder="Month">
              </div>
              <div class="form-group">
                <input type="number" class="form-control input-sm" id="dayInput" placeholder="Day">
              </div>
              <button type="submit" class="btn btn-primary btn-sm">Generate</button>
              </div>
            </form>
          </div>
          -->
        </div>
      </nav>
    </div>

    <div ng-app="myApp" class="container-fluid">
      <div class="row">
        <div class="col-md-12" ng-controller="demoController as demo">
          <table ng-table="demo.tableParams" class="table table-bordered table-hover table-condensed editable-table demoTable" ng-form="demo.tableForm" disable-filter="demo.isAdding" demo-tracked-table="demo.tableTracker">
            <colgroup>
              <col width="5%" />
              <col width="75%" />
              <col width="10%" />
              <col width="10%" />
            </colgroup>
            <tr ng-repeat="row in $data">
              <td title="'Window ID'" filter="{window_id: 'number'}" sortable="'window_id'">
                <span>{{ row.window_id | angular }}</span>
              </td>
              <td title="'Label'" filter="{label: 'text'}" sortable="'label'">
                <span>{{ row.label | angular }}</span>
              </td>
              <td title="'Time Spent'" sortable="'time_spent'">
                <span>{{ row.time_spent | angular }}</span>
              </td>
              <td>
                <button class="btn btn-primary btn-sm" ng-click="demo.save(row)"><span class="glyphicon glyphicon-ok"></span></button>
                <button class="btn btn-default btn-sm" ng-click="demo.cancel(row)"><span class="glyphicon glyphicon-remove"></span></button>
                <button class="btn btn-default btn-sm" ng-click="demo.del(row)"><span class="glyphicon glyphicon-pencil"></span></button>
                <button class="btn btn-danger btn-sm" ng-click="demo.del(row)"><span class="glyphicon glyphicon-trash"></span></button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <script src="static/js/lodash.min.js"></script>
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/ng-table.min.js"></script>
    <script src="static/app.js"></script>
  </body>
</html>
